<div id="home_header">
	<div class="row">

		<div class="medium-2 small-4 columns left">
			<img src="/assets/img/me.png">
			<hr>
		</div>

		<div class="medium-4 small-8 columns right">
			<ul class="side-nav">
				<li>
					<a href="#">
						<i class="icon-phone"></i>321-759-5293
					</a>
				</li>
				<li>
					<a href="mailto:awc737@gmail.com">
						<i class="icon-envelope"></i>Contact Me
					</a>
				</li>
				<li>
					<a href="{{ URL::to('files/alexcrawford-resume-2013.pdf') }}" target="_blank">
						<i class="icon-cloud"></i>Download my Resume
					</a>
				</li>
			</ul>
		</div>

		<div id="who_i_am" class="medium-6 small-12 columns">
			<div id="who_i_am_slider">
				<div>
					<h5>Web / Application Developer</h5>
				</div>
				<div>
					<h5>DevOps Engineer</h5>
				</div>
			</div>
			<p>I am a problem solver and a leader. I seek challenges that require me to overcome obstacles and implement better solutions. I am passionate about my work and rapidly evolving technology. <a href="#why-hire-me">Why hire me?</a></p>
		</div>
		<!--
		<div>
			<h5>DevOps Systems Administrator</h5>
			<p>When I was twelve, I converted my family to Linux with a demo of Knoppix. From RHEL to Debian, to Windows and beyond (hyperscale enterprise clouds), I write and maintain software that automates with hardware.</p>
		</div>
		-->

	</div>
</div>

<div class="row">
	<div class="medium-8 columns">
		<h5 class="header">My Recent Projects</h5>

		<!-- slider on small -->

		<div id="recent_projects_slider" class="show-for-medium-down">
			<% for(var slug in public.articles._data){ %>
				<% if(public.articles._data[slug].publish !== true) { continue; } %>
				<% if(public.articles._data[slug].tags.indexOf("projects") === -1) { continue; } %>
				
				<div class="small-4 columns project_link" data-reveal-id="modal-<%= slug %>">
					<ul class="grid cs-style-6">
					    <li>
					        <div class="figure">
					            <img src="<%= public.articles._data[slug].image %>" title="<%= public.articles._data[slug].title %>">
					            <div class="figcaption">
					                <span><%= public.articles._data[slug].title %></span>
					            </div>
					        </div>
					    </li>
					</ul>
				</div>
			<% }; %>
		</div>

		<div id="recent_projects" class="row hide-for-medium-down">
			<% for(var slug in public.articles._data){ %>
				<% if(public.articles._data[slug].publish !== true) { continue; } %>
				<% if(public.articles._data[slug].tags.indexOf("projects") === -1) { continue; } %>
				<div class="medium-6 large-4 columns project_link" data-reveal-id="modal-<%= slug %>">
					<ul class="grid cs-style-6">
					    <li>
					        <div class="figure">
					            <img src="<%= public.articles._data[slug].image %>" title="<%= public.articles._data[slug].title %>">
					            <div class="figcaption">
					                <span><%= public.articles._data[slug].title %></span>
					            </div>
					        </div>
					    </li>
					</ul>
				</div>
				<div id="modal-<%= slug %>" class="reveal-modal" data-reveal>
					<h3><%= public.articles._data[slug].title %></h3>
					<a class="close-reveal-modal">&#215;</a>
				</div>
			<% }; %>
		</div>

		<h5 id="why-hire-me" class="header">Why Hire Me?</h5>
		<!--<p>
		I live in Portlandia, have a high-cut combover, a mustache and black thick rimmed glasses. <br class="hide-for-medium-down">If that's not enough, I like running, biking and craft beer, sometimes in conjuction! No, I  am not willing to cut my mohawk blue, but I would die it blue if <span>Intel</span> hires me.
		</p>-->
		<p>
		I operate a web hosting platform, a software development company, a game development social network and a competitive gaming league. I've curated and automated these projects for years, to the point of being self-sufficient, thus promoting my pursuit of further endeavors.
		</p>
	</div>

	<div class="medium-4 columns">
		<h5 class="header">My Buzzwords</h5>
		<p>
			HTML, CSS, Javascript,
			Mobile applications, Responsive design,
			Server management, Architecture, DevOps,
			Linux, Debian, KVM, Docker, Git, 
			Chef, Puppet, Vagrant, NGINX, Apache,
			PHP, C#, Java, Ruby, Python,
			SQL, MySQL, PostgreSQL,
			NoSQL, MongoDB, RethinkDB,
			Redis, Memcached, SOLR, ElasticSearch,
			Laravel, Joomla, Drupal, Symfony,
			NodeJS, Meteor, Angular, Ember,
			EJS, Jade, SASS, Less, Grunt, Capistrano
		</p>
		<hr>
		<a class="twitter-timeline" href="https://twitter.com/awc737" data-widget-id="388016044029124608">Tweets by @awc737</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

</div>