<div id="home_header">
	<div class="row">

		<div class="medium-2 small-4 columns left">
			<img src="/assets/img/me.png">
			<hr>
		</div>

		<div class="medium-4 small-8 columns right">
			<ul class="side-nav">
				<li>
					<a href="tel:321-759-5293">
						<i class="icon-phone"></i>321-759-5293
					</a>
				</li>
				<li>
					<a href="mailto:awc737@gmail.com">
						<i class="icon-envelope"></i>Contact Me
					</a>
				</li>
				<li>
					<a href="/me_resume_2015.pdf" target="_blank">
						<i class="icon-cloud"></i>Download my Resume
					</a>
				</li>
			</ul>
		</div>

		<div id="who_i_am" class="medium-6 small-12 columns">
			<div id="who_i_am_slider">
				<div>
					<h5>Web and Application Developer</h5>
				</div>
				<div>
					<h5>DevOps Engineer</h5>
				</div>
				<div>
					<h5>Free Software Evangalist <a href="#"><i class="fa fa-asterisk"></i></a></h5>
				</div>
			</div>
			<p>I am a problem solver and a leader. I seek challenges that require me to overcome obstacles and implement better solutions. I am passionate about my work and rapidly evolving technology. <a href="#why-hire-me">Why hire me?</a></p>
		</div>

		<!--
		<div>
			<h5>DevOps Systems Administrator</h5>
			<p>When I was twelve, I converted my family to Linux with a demo of Knoppix. From RHEL to Debian, to Windows and beyond (hyperscale enterprise clouds?), I write and maintain software that automates itself.</p>
		</div>
		-->

	</div>
</div>

<div class="row">
	<div class="medium-8 columns">
		<h3 class="header">Recent Projects</h3>

		<!-- slider on small -->

		<div id="recent_projects_slider">
			<% for(var slug in public.articles._data){ %>
				<% if(public.articles._data[slug].publish !== true) { continue; } %>
				<% if(public.articles._data[slug].tags.indexOf("projects") === -1) { continue; } %>
				
				<div class="small-4 columns project_link" data-reveal-id="modal-<%= slug %>">
					<ul class="grid cs-style-6">
					    <li>
					        <div class="figure">
					            <img src="<%= public.articles._data[slug].image %>" title="<%= public.articles._data[slug].title %>">
					            <div class="figcaption">
					                <span><%= public.articles._data[slug].title %></span>
					            </div>
					        </div>
					    </li>
					</ul>
				</div>
			<% }; %>
		</div>

		<!--
		<div id="recent_projects" class="row hide-for-medium-down">
			<% for(var slug in public.articles._data){ %>
				<% if(public.articles._data[slug].publish !== true) { continue; } %>
				<% if(public.articles._data[slug].tags.indexOf("projects") === -1) { continue; } %>
				<div class="medium-6 large-4 columns project_link" data-reveal-id="modal-<%= slug %>">
					<ul class="grid cs-style-6">
					    <li>
					        <div class="figure">
					            <img src="<%= public.articles._data[slug].image %>" title="<%= public.articles._data[slug].title %>">
					            <div class="figcaption">
					                <span><%= public.articles._data[slug].title %></span>
					            </div>
					        </div>
					    </li>
					</ul>
				</div>
				<div id="modal-<%= slug %>" class="reveal-modal" data-reveal>
					<h3><%= public.articles._data[slug].title %></h3>
					<a class="close-reveal-modal">&#215;</a>
				</div>
			<% }; %>
		</div>
		-->

		<h3 id="why-hire-me" class="header">Why Hire Me?</h3>
		<p>
		I am a proficient developer with an eyes for design and over 15 years of experience. I am a problem solver, extremely passionate about evolving technology with an extrodinary aptitude for learning new skills. I manage my own servers and operations while quickly generating new sites. I have experience making fast, inexpensive sites, commerce and enterprise sites and apps. My broad experience with many tools and languages makes me an excellent candidate to specialize on your web applications.
		</p>
		<hr>

		<h3 class="header">Recent Blogs</h3>
		<% for(var slug in public.articles._data){ %>
			<% if(public.articles._data[slug].publish !== true) { continue; } %>
			<% if(public.articles._data[slug].tags.indexOf("blog") === -1) { continue; } %>

			<div class="row blog_header">
				<div class="small-8 columns">
					<h5><a href="/articles/<%= slug %>">
							<%= public.articles._data[slug].title %>
					</a></h5>
				</div>
				<div class="small-4 columns text-right">
					<small><%= public.articles._data[slug].date %></small>
				</div>
			</div>

			<div class="row blog_header">
				<div class="small-8 columns">
					<p>
						<%= public.articles._data[slug].intro %>
					</p>
				</div>

				<div class="small-4 columns text-right">
					<a href="/articles/<%= slug %>" class="button small secondary right">Read <i class="fa fa-book"></i> more</a>
				</div>
			</div>

		<% }; %>
		
	</div>

	<div class="medium-4 columns">

		<h3 class="header">What I Do</h3>
		<div id="what-i-do" class="panel">
			<p>Elegant and dynamic client-driven sites</p>
			<div class="row">
			    <div class="small-3 columns">
			    	<img src="http://cdn1.iconfinder.com/data/icons/iconset-addictive-flavour/png/chrome.png" alt="chrome">
		    	</div>
			    <div class="small-3 columns">
			    	<img src="http://cdn1.iconfinder.com/data/icons/iconset-addictive-flavour/png/firefox.png" alt="firefox">
		    	</div>
			    <div class="small-3 columns">
			    	<img src="http://cdn1.iconfinder.com/data/icons/miniiconset/48/Safari_Agua.png" alt="safari">
		    	</div>
			    <div class="small-3 columns">
			    	<img src="http://cdn1.iconfinder.com/data/icons/iconset-addictive-flavour/png/internet_explorer.png" alt="ie">
		    	</div>
		    </div>
		    <hr>
		    <p>Cross-platform games and applications</p>
    		<div class="row">
			    <div class="small-3 columns">
			    	<img src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock/128/OS_Android.png" alt="android">
		    	</div>
			    <div class="small-3 columns">
			    	<img src="https://cdn2.iconfinder.com/data/icons/metro-ui-dock/128/OS_Linux.png" alt="iphone">
		    	</div>
			    <div class="small-3 columns">
			    	<img src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set--icons-by-dakirby/128/Apple.png" alt="apple">
		    	</div>
			    <div class="small-3 columns">
			    	<img src="https://cdn2.iconfinder.com/data/icons/metro-ui-dock/128/OS_Windows_8.png" alt="windows">
		    	</div>
		    </div>
		    <hr>
		</div>

		<h3 class="header">My Experience</h3>
		<p>
			HTML5, CSS3, Javascript, ES6,
			Systems Administration, Architecture, DevOps,
			Linux, Debian, KVM, Docker, Git, 
			Chef, Puppet, Vagrant, NGINX, Apache,
			PHP, C#, Java, Ruby, Python,
			SQL, MySQL, PostgreSQL,
			NoSQL, MongoDB, RethinkDB,
			Redis, Memcached, SOLR, ElasticSearch,
			Laravel, Joomla, Drupal, Symfony,
			NodeJS, Meteor, Angular, Ember,
			EJS, Jade, SASS, Less, Grunt, Capistrano
		</p>
		<hr>
		<a class="twitter-timeline" href="https://twitter.com/awc737" data-widget-id="388016044029124608">Tweets by @awc737</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

</div>

<% for(var slug in public.articles._data){ %>
	<% if(public.articles._data[slug].publish !== true) { continue; } %>
	<% if(public.articles._data[slug].tags.indexOf("projects") === -1) { continue; } %>

	<div id="modal-<%= slug %>" class="reveal-modal medium" data-reveal>
		<h3><%= public.articles._data[slug].title %></h3>

		<hr>

		<%- partial("articles/" + slug) %>

		<!-- <p><%= public.articles._data[slug].intro %></p> -->

		<hr>

		<a href="/articles/<%= slug %>" class="button small success expand">
			Read <i class="fa fa-book"></i> more!
		</a>

		<a class="close-reveal-modal">&#215;</a>
	</div>
<% }; %>