<!-- Nested layout -->

<div class="row">
	
	<div class="large-8 columns  large-pull-right">

		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>

			<% if(current.source !== "index") { %>
				<li><a href="/<%= category %>"><%= category %></a></li>
			<% } %>

			<% if(title !== "Home") { %>
				<li class="current"><a href="#"><%= title %></a></li>
			<% } %>
		</ul>

		<% if(current.source !== "index") { %>
			<h3><%= title %></h3>
		<% } %>

		<%- yield %>

	</div>

	<div class="large-4 columns">

		<!--
		<% if(typeof(image) != 'undefined') { %>
			<img src="<%= image %>">
		<% } %>
		-->
		
		<% if(typeof(files) != 'undefined') { %>
			<h3 class="header">Related Files</h3>
			<ul class="no-bullet">
				<% files.forEach(function(file){ %>
					<li>
						<i class="fa fa-file-code-o"></i>
						<a href="#" data-reveal-id="modal-<%= file.slug %>">
							<%= file.title %>
						</a>
					</li>

					<div id="modal-<%= file.slug %>" class="reveal-modal" data-reveal>
						<%- partial('/code/src/' + current.source + '/' + file.slug) %>
					</div>
				<% }) %>
			</ul>

		<% } %>
	</div>
	
</div>
